<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%" class="b-1 shadow-none">
    <mat-card-header>
      <mat-card-title>Update Warehouse</mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="warehouseForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="updateWarehouse(warehouseForm.value)"
    >
      <mat-card-content>
        <label>Warehouse name</label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input
            matInput
            type="text"
            placeholder="Warehouse name"
            formControlName="name"
            id="name"
          />
          <mat-hint align="end">Not more than 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')"
            >Name is required</mat-error
          >
          <mat-error *ngIf="hasError('name', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <label>Location</label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input
            matInput
            type="text"
            placeholder="Wrehouse location"
            formControlName="location"
            id="location"
          />
          <mat-hint align="end">Not more than 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('location', 'required')"
            >location is required</mat-error
          >
          <mat-error *ngIf="hasError('location', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <label>Capacity</label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input
            matInput
            type="text"
            placeholder="Warehouse capacity"
            formControlName="capacity"
            id="capacity"
          />
          <mat-hint align="end">Not more than 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('capacity', 'required')"
            >capacity is required</mat-error
          >
          <mat-error *ngIf="hasError('capacity', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          class="w-100 action-button"
          [disabled]="!warehouseForm.valid"
        >
          Update
        </button>
        <button
          type="button"
          mat-flat-button
          color="warn"
          class="w-100"
          (click)="redirectToWarehouseList()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
